{{#each comments as |comment|}}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{comment.comment}}
        </p>
    </header>
    <div class="card-body">
        <div class="body">
            <p>Posted by {{comment.user.username}} on {{format_date comment.createdAt}}</p>
        </div>
</div>