<div class="card">
    <header class="card-header">
        <a href="/{{id}}">{{title}}</a>
    </header>
    <div class="card-body">
        <div class="body">
            {{body}}
        </div>
    </div>