
{{!-- TODO - write the template to show all the user's posts on the /dashboard route --}}
<a href="/dashboard/create">Create Post</a>
<h1>MY POSTS</h1>

{{#each posts as | userPost | }}
{{> post this}}
{{/each}}

{{!-- TODO - write the template to show a single post on the /post/:id route --}}

