<div class="card">
    <header class="card-header">Edit a Blog Post</header>
    <div class="card-body">
        <form class="form" id="edit-blog">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="new-title" placeholder="New Title" />
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control" name="body" id="new-body" placeholder="New Body"</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Post</button>
            <button type="button" class="btn btn-danger">Delete Post</button>
    </div>
</div>

<script src="/js/edit-blog.js"></script>
<script src="/js/delete-blog.js"></script>