
{{!-- TODO - write the template to show all posts on the / route --}}

<h1>ALL POSTS</h1>
{{#if username}}
<p>Hello, {{username}}</p>
{{/if}}

{{#each posts}}
{{> post}}
{{/each}}

{{!-- TODO - write the template to show a single post on the /post/:id route --}}