
{{!-- TODO - write the template to show all posts on the / route --}}

<h1>ALL POSTS</h1>

{{#each posts as | userPost | }}
{{> post this}}
{{else}}
<div class="p-2">
    <h2>There are currently no posts</h2>
</div>
{{/each}}
