{{!-- display comment form and already posted comments ONLY if logged in --}}

<div class="row">
    <div class="column">
       {{> post this}}
    </div>
</div>

<div class="card">
    {{> comment}}
    <h2 class="card-header">Add a Comment</h2>
    <div class="card-body">
        <form class="form comment-form">
            <div class="form-group">
                <input class="form-control" placeholder="Add a comment..." type="text" id="comment-input"/>
            </div>
            <div class="form-group">
                <button class="comment-btn btn-primary" type="submit">Add comment</button>
            </div>
        </form>
    </div>
</div>

{{!-- display already posted comments --}}


</div>

<script src="/js/comment.js"></script>
