{{!-- display comment form and already posted comments ONLY if logged in --}}


       <div class="card-container">
       
    
        {{> post}}
        
        
       </div>
 

<div class="card">
    {{> comment}}
    <h2 class="card-header">Add a Comment</h2>
    <div class="card-body">
        <form class="form comment-form" id="comment-form" style="display: flex;">
            <div>
                <input class="form-control comment-input" placeholder="Add a comment..." type="text"/>
            </div>
            <div id="comment-btn">
                <button class="comment-btn btn-primary" type="submit">Add comment</button>
            </div>
        </form>
    </div>
</div>

{{!-- display already posted comments --}}


</div>

<script src="/js/comment.js"></script>
